<h1><%= @yulia_cv.position %></h1>

<dl class="row">
  <dt class="col-sm-3">Name:</dt>
  <dd class="col-sm-9"><%= @yulia_cv.user_name %></dd>

  <dt class="col-sm-3">Education:</dt>
  <dd class="col-sm-9"><%= @yulia_cv.education %></dd>

  <dt class="col-sm-3">Experience:</dt>
  <dd class="col-sm-9"><%= @yulia_cv.experience %></dd>

  <dt class="col-sm-3">About info:</dt>
  <dd class="col-sm-9"><%= @yulia_cv.about %></dd>

</dl>