<h1><%= @yulia_cv.position %></h1>

<p>Hi, my name is <%= @yulia_cv.user_name %>.</p>
<p>Education: <%= @yulia_cv.education %></p>
<p>Experience: <%= @yulia_cv.experience %></p>
<p>About info: <%= @yulia_cv.about %></p>